body{
    background-color: rgb(16, 16, 27);
}

#home-body{
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

#home-img {
    display: flex;
    flex-direction: row;
    margin: 15px;

}
header {
    font-family: 'Lucida Sans';
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: baseline;
    gap: 60%;
    padding-right: 20px;
    padding-left: 20px;
}
a{
    color: black;
    
}
a:visited{
    color: rgb(8, 58, 133);
}
a:hover{
    color: rgb(115, 3, 219);
}
h1{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
}
#quote{
    color: lightgrey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    margin: 15px;
}
#me{
    color: lightgray;
    font-family: 'Lucida Sans';
    text-align: right;
}
#about{
    color: lightgray;
    font-family: 'Lucida Sans';
    display: flex;
    margin: 25px;
    text-align: left;
    
}
.about {
    margin: 25px;
}
#about-img {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        }
